<%= form_tag(search_homes_path, :method => 'get') do %>
  <p>
    <%= text_field_tag :post, params[:post] %>
    <%= submit_tag "Go" %>
  </p>
<% end %>

<% unless @all.blank? %>
  <% @all.each do |post| %>
    <%= post.body %><br>
  <% end %>
<% end %>


